.root {
  display: flex;
  li {
    background-color: rgb(136, 136, 136);
    list-style-type: none;
    margin: 3px;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
    &:active {
      opacity: 0.5;
    }
  }
  :global {
    .selected {
      background-color: black;
    }
  }
}
