* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  border: 1px solid black;
  padding: 5px;
}

@media (max-width: 447px) {
  .header {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  align-items: center;
}

@media (max-width: 343px) {
  .logo {
    flex-direction: column;
  }
}

.logo-name {
  text-transform: uppercase;
}

.logo-img {
  margin-right: 15px;
}

.basket-anchor {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.basket-total-price {
  margin-right: 5px;
}

.basket-svg {
  margin-right: 5px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  border: 1px solid black;
  padding: 5px;
}

@media (max-width: 950px) {
  .sort {
    flex-direction: column;
  }
}

.ul-main {
  display: flex;
}

@media (max-width: 540px) {
  .ul-main {
    flex-direction: column;
  }
}

.li-main {
  margin-right: 40px;
  list-style-type: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .li-main {
    margin-right: 10px;
  }
}

.li-active {
  background-color: black;
  color: white;
}

.li-main-anchor {
  text-decoration: none;
}

.main-sort {
  display: flex;
  align-items: center;
  position: relative;
}

.main-sort-popup {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 165px;
  background-color: white;
}

@media (max-width: 950px) {
  .main-sort-popup {
    right: 35%;
    top: 195px;
  }
}

@media (max-width: 645px) {
  .main-sort-popup {
    right: 27%;
    top: 230px;
  }
}

@media (max-width: 540px) {
  .main-sort-popup {
    right: 27%;
    top: 390px;
  }
}

@media (max-width: 457px) {
  .main-sort-popup {
    right: 27%;
    top: 410px;
  }
}

@media (max-width: 457px) {
  .main-sort-popup {
    right: 27%;
    top: 440px;
  }
}

@media (max-width: 295px) {
  .main-sort-popup {
    right: 27%;
    top: 490px;
  }
}

.main-sort-popup li {
  list-style-type: none;
  padding: 3px;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 3px;
}

.active-popup {
  background-color: black;
  color: white;
}

.pizza-items {
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media (max-width: 950px) {
  .pizza-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 715px) {
  .pizza-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 490px) {
  .pizza-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pizza-item-flex {
  display: flex;
  align-items: center;
}

.pizza-item {
  margin-bottom: 40px;
}

.pizza-img {
  width: 100%;
}

.pizza-title {
  text-align: center;
  margin-bottom: 15px;
}

.pizza-options-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 3px;
}

.pizza-option-one {
  display: flex;
  padding: 5px;
}

.pizza-option-two {
  display: flex;
  padding: 5px;
}

.pizza-option-active {
  color: white;
  background-color: black;
  cursor: pointer;
}

.pizza-option-inactive {
  cursor: pointer;
}

.pizza-option-one li {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}

.pizza-option-two li {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}

.pizza-option-bottom {
  display: flex;
  align-items: center;
  margin: 3px;
  justify-content: space-between;
}

.pizza-item-add {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
}

.pizza-item-add-button {
  margin: 0 5px;
}

.pizza-item-add-total {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart  */

.cart {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  margin-top: 100px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-img {
  display: block;
  width: 150px;
  margin-right: 25px;
  margin-left: 30px;
}

.cart-item-name {
  font-size: 26px;
}

.cart-item-discription {
  font-size: 20px;
  color: rgb(180, 177, 177);
}

.cart-item-info {
  margin-right: 120px;
}

.cart-item-operation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.cart-item-operation-button {
  padding: 1px 10px;
  background-color: black;
  color: white;
  font-size: 30px;
}

.cart-item-operation-total {
  font-size: 30px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.cart-item-total-price {
  font-size: 30px;
  padding: 10px;
  margin-right: 50px;
}

.cart-item-delete {
  padding: 10px 30px;
  color: white;
  background-color: black;
  font-size: 20px;
}

.hr {
  margin-bottom: 20px;
}

.cart-header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart-logo {
  display: flex;
  align-items: center;
}

.cart-logo-svg {
  margin-right: 10px;
}

.cart-clear {
  display: flex;
  align-items: center;
}

.cart-logo-name {
  font-size: 30px;
}

.cart-clear-button {
  color: gray;
}

.cart-footer-total {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 10%;
}

.cart-footer-total-div {
  display: flex;
}

.cart-footer-buttons {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.button-return {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  padding-right: 20px;
  color: black;
  background-color: white;
  text-decoration: none;
}

.button-pay {
  padding: 20px;
  font-size: 17px;
}
